
streamlit
boto3
langchain
langchain-community
langchain-pinecone
pinecone
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
unstructured
langchain_google_community
PyPDF2
